
h1{
	font-family: sans-serif;
	font-size: 200px;
	text-align: center;
	letter-spacing: 40px;
	line-height: 10px;
}

h1:hover {
	color: #EB3678;
	font-family: monospace;
}

h3{
	font-family:monospace;
	font-size: 50px;
	text-align: center;
	letter-spacing: -8px;
	line-height: 100px;
}

h3:hover {
	color: #FB773C;
	font-family: sans-serif;
}

#paragraph1 {
	background-color: #E19898;
	font-family: sans-serif;
}

#paragraph2 {
	background-color: #A2678A;
	font-family: courier, monospace;
}

#paragraph3{
	background-color: #4D3C77;
	font-family: sans-serif;
}

#paragraph4{
	background-color: #3F1D38;
	font-family: monospace;
}

#paragraph2:hover{
	background-color: orange;
	font-family: helvetica, sans-serif;
}

#paragraph4:hover{
	background-color: orange;
	font-family: sans-serif;
}

#paragraph3:hover{
	background-color: orange;
}

#paragraph1:hover{
	background-color: orange;
}

p {
	font-size: 20px;
	padding: 10px;
	border: solid 4px;
	margin: 10px;
}

.highlights {
	background-color: black;
	font-style: oblique;
	font-weight: bold;
	color: white;

}

body{
	background-color: black;
	color: white;
}

body:hover {
		background-color: #180161;
	}


img {
		width: 100%;
		max-width: 1400px;
		transition: transform 0.5s ease, box-shadow 0.5s ease;
		display: block;
		margin: 20px auto;
		filter: blur(0px);
	
	}

	img:hover {
		transform: scale(1.1);
		box-shadow: 0 0 30px cyan;
	}

.container {
		width: 70%;
		background-color: black;
		margin: 0 auto;
		padding: 20px;
	}
